Overdue 30 Days
--------------------------------------------------BREAK--------------------------------------------------
[CreditMark.org] Such a crying shame
--------------------------------------------------BREAK--------------------------------------------------
<p style="font-family: Arial, sans-serif; font-size: 12px; color: #000;">Dear <strong>[CustomerName1]</strong>,<br />
<br />
It's such a shame we didn't receive your payment in time.<br />
<br />
We would have loved to do more work with you.<br />
<br />
As our invoice is now <strong>thirty (30) days overdue</strong>, we have begun levying interest of <strong>[InterestRate] per [InterestTime]</strong>.<br />
<br />
So far, this totals to <strong>[InvoiceCurrency][InvoiceAmountNow]</strong> (including <strong>[InvoiceCurrency][InvoiceInterestNow]</strong> of interest), and it will continue to accure by the same amount <strong>every [InterestTime]</strong>.<br />
<br />
Thank you and best wishes<br />
[UserName]</p>
--------------------------------------------------BREAK--------------------------------------------------
<p>
[PaypalLink]
&bull; <a href="[Link1]" target="_blank">This invoice has already been settled</a><br />
&bull; <a href="[Link2]" target="_blank">This invoice does not tally with our records</a><br />
&bull; <a href="[Link3]" target="_blank">I am not the correct recipient</a><br />
&bull; <a href="[Link4]" target="_blank">I would like to sign up for CreditMark for our own Accounts Receivable</a>
</p>