Immediate upcon Creation of Incident AND > 3 Days Before Due
--------------------------------------------------BREAK--------------------------------------------------
[CreditMark.org] It's been a pleasure!
--------------------------------------------------BREAK--------------------------------------------------
<p style="font-family: Arial, sans-serif; font-size: 12px; color: #000;">Dear <strong>[CustomerName1]</strong>,<br />
<br />
On behalf of <strong>[UserCompany]</strong>, I'd just like to say thank you for being our customer.<br />
<br />
We enjoy working with you, and look forward to working with you again.<br />
<br />
Our invoice <strong>[InvoiceNumber]</strong> for the amount of <strong>[InvoiceCurrency][InvoiceAmount]</strong> is due on <strong>[InvoiceDate]</strong>.<br />
<br />
Please email me at <a href="mailto:[UsersEmailAddress]"><strong>[UsersEmailAddress]</strong></a> or call me at <a href="tel:[UserTelephone]">[UserTelephone]</a> if you did not receive our invoice, or if you have any questions or comments about it.<br />
<br />
Thank you and best wishes<br />
[UserName]</p>
--------------------------------------------------BREAK--------------------------------------------------
<p>
[PaypalLink]
&bull; <a href="[Link1]" target="_blank">This invoice has already been settled</a><br />
&bull; <a href="[Link2]" target="_blank">This invoice does not tally with our records</a><br />
&bull; <a href="[Link3]" target="_blank">I am not the correct recipient</a><br />
&bull; <a href="[Link4]" target="_blank">I would like to sign up for CreditMark for our own Accounts Receivable</a>
</p>