Overdue 7 Days
--------------------------------------------------BREAK--------------------------------------------------
[CreditMark.org] Please don't forget this!
--------------------------------------------------BREAK--------------------------------------------------
<p style="font-family: Arial, sans-serif; font-size: 12px; color: #000;">Dear <strong>[CustomerName1]</strong>,<br />
<br />
We are thrilled to count you as one of our valued customers, and hope to have many more opportunities to be of service to you.<br />
<br />
Now we hope you will recognise our work by settling our invoice as soon as possible.<br />
<br />
Our invoice [InvoiceNumber] for the amount of [InvoiceCurrency][InvoiceAmount] was <strong>due seven (7) days ago</strong>.<br />
<br />
Please email me at [UsersEmailAddress] or call me at [UserTelephone] if you did not receive our invoice, or to discuss a payment schedule.<br />
<br />
Thank you and best wishes<br />
[UserName]</p>
--------------------------------------------------BREAK--------------------------------------------------
<p>
[PaypalLink]
&bull; <a href="[Link1]" target="_blank">This invoice has already been settled</a><br />
&bull; <a href="[Link2]" target="_blank">This invoice does not tally with our records</a><br />
&bull; <a href="[Link3]" target="_blank">I am not the correct recipient</a><br />
&bull; <a href="[Link4]" target="_blank">I would like to sign up for CreditMark for our own Accounts Receivable</a>
</p>