Due Date
--------------------------------------------------BREAK--------------------------------------------------
[CreditMark.org] It's a beautiful day!
--------------------------------------------------BREAK--------------------------------------------------
<p style="font-family: Arial, sans-serif; font-size: 12px; color: #000;">Dear <strong>[CustomerName1]</strong>,<br />
<br />
Our work is done, but we can't wait to do more for you. Please contact us at [UserCompany] to extend our working partnership.<br />
<br />
We love giving customers our best, and we are inspired to do even better when our customers reward us with prompt settlement of our invoices.<br />
<br />
Our invoice [InvoiceNumber] for the amount of [InvoiceCurrency][InvoiceAmount] is <strong>due today</strong>.<br />
<br />
Please email me at [UsersEmailAddress] or call me at [UserTelephone] if you are not likely to meet this deadline and need an extension, or if you did not receive our invoice, or if you have any questions or comments about it.<br />
<br />
Thank you and best wishes<br />
[UserName]</p>
--------------------------------------------------BREAK--------------------------------------------------
<p>
[PaypalLink]
&bull; <a href="[Link1]" target="_blank">This invoice has already been settled</a><br />
&bull; <a href="[Link2]" target="_blank">This invoice does not tally with our records</a><br />
&bull; <a href="[Link3]" target="_blank">I am not the correct recipient</a><br />
&bull; <a href="[Link4]" target="_blank">I would like to sign up for CreditMark for our own Accounts Receivable</a>
</p>