Overdue 14 Days
--------------------------------------------------BREAK--------------------------------------------------
[CreditMark.org] Was it something we said?
--------------------------------------------------BREAK--------------------------------------------------
<p style="font-family: Arial, sans-serif; font-size: 12px; color: #000;">Dear <strong>[CustomerName1]</strong>,<br />
<br />
We haven't heard from you since.<br />
<br />
Thank you and best wishes<br />
[UserName]</p>
--------------------------------------------------BREAK--------------------------------------------------
<p>
[PaypalLink]
&bull; <a href="[Link1]" target="_blank">This invoice has already been settled</a><br />
&bull; <a href="[Link2]" target="_blank">This invoice does not tally with our records</a><br />
&bull; <a href="[Link3]" target="_blank">I am not the correct recipient</a><br />
&bull; <a href="[Link4]" target="_blank">I would like to sign up for CreditMark for our own Accounts Receivable</a>
</p>