Halfway Till Due [(Due Date - Invoice Date) / 2 AND > 3 Days Before Due]
--------------------------------------------------BREAK--------------------------------------------------
[CreditMark.org] We're still buzzing!
--------------------------------------------------BREAK--------------------------------------------------
<p style="font-family: Arial, sans-serif; font-size: 12px; color: #000;">Dear <strong>[CustomerName1]</strong>,<br />
<br />
We are thrilled to count you as one of our valued customers, and hope to have many more opportunities to be of service to you.<br />
<br />
Please remember, our invoice [InvoiceNumber] for the amount of [InvoiceCurrency][InvoiceAmount] is due on [InvoiceDate] - we're about half way through our credit period.<br />
<br />
Please email me at [UsersEmailAddress] or call me at [UserTelephone] if you did not receive our invoice, or if you have any questions or comments about it.<br />
<br />
Thank you and best wishes<br />
[UserName]</p>
--------------------------------------------------BREAK--------------------------------------------------
<p>
[PaypalLink]
&bull; <a href="[Link1]" target="_blank">This invoice has already been settled</a><br />
&bull; <a href="[Link2]" target="_blank">This invoice does not tally with our records</a><br />
&bull; <a href="[Link3]" target="_blank">I am not the correct recipient</a><br />
&bull; <a href="[Link4]" target="_blank">I would like to sign up for CreditMark for our own Accounts Receivable</a>
</p>