3 Days before Due
--------------------------------------------------BREAK--------------------------------------------------
[CreditMark.org] You inspire us!
--------------------------------------------------BREAK--------------------------------------------------
<p style="font-family: Arial, sans-serif; font-size: 12px; color: #000;">Dear <strong>[CustomerName1]</strong>,<br />
<br />
We love our customers, and we strive to do our very best for them.<br />
<br />
Please support us to keep trying our hardest by settling our invoice [InvoiceNumber] for the amount of [InvoiceCurrency][InvoiceAmount] when it is <strong>due in three (3) days from now</strong> on [InvoiceDate].<br />
<br />
Please email me at [UsersEmailAddress] or call me at [UserTelephone] if you are not likely to meet our payment deadline and need an extension, or if you did not receive our invoice, or if you have any questions or comments about it.<br />
<br />
Thank you and best wishes<br />
[UserName]</p>
--------------------------------------------------BREAK--------------------------------------------------
<p>
[PaypalLink]
&bull; <a href="[Link1]" target="_blank">This invoice has already been settled</a><br />
&bull; <a href="[Link2]" target="_blank">This invoice does not tally with our records</a><br />
&bull; <a href="[Link3]" target="_blank">I am not the correct recipient</a><br />
&bull; <a href="[Link4]" target="_blank">I would like to sign up for CreditMark for our own Accounts Receivable</a>
</p>