/* Contact Form variables
========================================================*/
/* Contact Form Basic Styles 
========================================================*/
.contact-form {
  background: #242424;
  position: relative;
  margin-top: 31px;
  margin-bottom: 0;
  width: 99%;
}
.contact-form p {
	color: #fff;
	padding: 30px 30px 0px;
}
@media (max-width: 767px) {
  .contact-form {
    margin-top: 0;
  }
}
.contact-form label {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  margin-bottom: 12px;
}
.contact-form label.message {
  margin-left: 0;
  width: 499px;
  height: 168px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .contact-form label.message {
    width: 388px;
  }
}
@media (max-width: 767px) {
  .contact-form label {
	  padding-left: 20px;
	  padding-right: 20px;
  }
  .contact-form label.message {
    margin-left: 20px;
    width: 380px;
  }
}
@media (max-width: 479px) {
  .contact-form label {
	  padding-left: 10px;
	  padding-right: 10px;
  }
  .contact-form label.message {
    margin-left: 10px;
    width: 250px;
  }
}

.contact-form fieldset {
  border: none;
}
.contact-form select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px 0px 0px 18px;
	color: #666;
}
.contact-form select.white {
	color: #FFF;
}
/* Contact Form Placeholder Styles 
========================================================*/
.contact-form ._placeholder {
  width: 100% !important;
  position: absolute;
  left: auto;
  top: 0;
  display: block;
  line-height: 30px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #666;
  padding: 9px 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  cursor: text;
}
.contact-form ._placeholder.focused {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 255, 0.5);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 255, 0.5);
}
.contact-form ._placeholder.hidden {
  display: none;
}
.contact-form .file ._placeholder {
  display: none;
}
/* Contact Form Input 
========================================================*/
.contact-form input[type='text'], 
.contact-form input[type='password'], 
.contact-form input[type='email'], 
.contact-form input[type='tel'], 
.contact-form input[type='search'] {
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background: #3a3b3b;
  padding: 9px 18px;
  outline: none;
  height: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  -webkit-appearance: none;
}
/* Contact Form Textarea 
========================================================*/
.contact-form textarea {
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background: #3a3b3b;
  padding: 9px 18px;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  resize: none;
  height: 100%;
  -webkit-appearance: none;
}
/* Contact Form Error messages
========================================================*/
.contact-form .empty-message,
.contact-form .error-message {
  position: absolute;
  top: 4px;
  right: 40px;
  color: red;
  height: 0;
  overflow: hidden;
  font-size: 11px;
  line-height: 12px;
  -webkit-transition: 0.3s ease-in height;
  transition: 0.3s ease-in height;
  z-index: 99;
}
.contact-form .header {
  padding: 9px 0 11px;
  text-align: center;
  background: #3a3b3b;
  margin-bottom: 20px;
}
.contact-form .invalid .error-message,
.contact-form .empty .empty-message {
  height: 20px;
}
/* Contact Form Buttons
========================================================*/
.contact-form-buttons {
  text-align: left;
  margin-top: 30px;
}
.contact-form .btn-big {
  border: 1px solid #9a9898;
  margin-right: 18px;
}
@media (max-width: 767px) {
  .contact-form .btn-big {
    margin-top: 15px;
  }
}
/* Contact Form Modal 
========================================================*/
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
.modal h4 {
  font-weight: bold !important;
  padding: 0 !important;
  margin: 0 !important;
  color: #000 !important;
  font-size: 24px;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
  color: #525151 !important;
}
.modal-dialog {
  width: 600px;
  margin: 140px auto;
}
.modal-dialog.modal-lg {
  width: 900px;
  margin: 140px auto;
}
@media only screen and (max-width: 767px) {
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
}
/* Contact Form Close icon 
========================================================*/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000 !important;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000000 !important;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
