/* Stuck menu styles
========================================================*/
.isStuck {
  z-index: 999;
  position: fixed;
  background: #FFF;
  -webkit-box-shadow: 0 0 4px 0 #000000;
  box-shadow: 0 0 4px 0 #000000;
}
.isStuck h1 {
  margin-top: 4px;
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
