@import "animate.css";
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:800);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic);
/*========================================================
                    Main layout styles
=========================================================*/
body {
  font: 300 14px/30px "Open Sans", sans-serif;
  color: #3a3b3b;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  color: #1abc9c;
}
.maincolor {
	color: #1abc9c;
}
img {
  max-width: 100%;
}
* {
  -webkit-text-size-adjust: none;
}
/* ======= Headers ======= */
h2 {
  font: 400 36px/48px "Open Sans", sans-serif;
  color: #3a3b3b;
}
h2 strong {
  font-weight: 800;
}
h3 {
  font: 400 24px/40px "Open Sans", sans-serif;
  color: #ffffff;
}
h4 {
  font: 800 24px/28px "Open Sans", sans-serif;
  color: #3a3b3b;
}
h5 {
  font: 800 18px/22px "Open Sans", sans-serif;
  color: #1d937c;
  text-transform: uppercase;
}
h6 {
  font: 300 35px "Open Sans", sans-serif;
  color: #3a3b3b;
}
h6 strong {
  font-weight: 700;
  text-transform: uppercase;
}
.header1 {
  text-align: center;
  margin-bottom: 40px;
}
.header2 {
  text-align: left;
  margin-top: 38px;
  margin-bottom: 21px;
}
.claimed {
	display: inline-block;
	color: #1abc9c;
	vertical-align: middle;
	font-size: x-small;
	font-style: italic;
	padding: 0px 15px;
}
strong {
	font-weight: 700;
}
.push-right {
	float: right;
}
table {
	width: 100%;
	border: 1px solid #000;
}
table td {
	padding: 3px 5px;
	line-height: 1.5;
}
table.records td {
	border-bottom: 1px dotted #999;
}
table thead tr {
	background-color: #1abc9c;
	font-weight: bold;
}
table tbody tr {
	background-color: #FFF;
}
table.data tbody tr:nth-child(even) {
	background-color: #F7F7F7;
}
table.table-blank {
	width: auto;
	border: 0px;
}
table.table-blank tr, table.table-blank td {
	background: none;
}
form .select-menu {
    border-radius: none;
    display: block !important;
    text-transform: capitalize;
    float: none;
    color: #FFF;
    width: 100%;
    background: #3a3b3b;
    font: 14px "Open Sans", sans-serif;
    text-align: left;
    border: 0px;
    padding: 2px 0px;
    position: relative;
	height: 48px;
  }
  .select-menu option {
    text-align: left;
    position: relative;
  }
form .sselect {
}
/* ======= Buttons ======= */
.btn-default {
  display: block;
  background: #1abc9c;
  text-transform: capitalize;
  color: #ffffff;
  font: 600 24px/24px "Open Sans", sans-serif;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 17px 43px 19px 46px;
}
.btn-default:hover {
  color: #ffffff;
  background: #1a8a6b;
}
.btn-medium {
  display: block;
  background: #1abc9c;
  text-transform: capitalize;
  color: #ffffff;
  font: 600 12px/12px "Open Sans", sans-serif;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}
.btn-medium:hover {
  color: #ffffff;
  background: #1a8a6b;
}
.btn-small {
  text-transform: capitalize;
  color: #1abc9c;
  font: 600 14px/14px "Open Sans", sans-serif;
  display: inline-block;
}
.btn-small:hover {
  color: #1a8a6b;
}
.btn-smallest {
  text-transform: capitalize;
  color: #1abc9c;
  font: 400 10px/14px "Open Sans", sans-serif;
  display: inline-block;
  background-color: #ffffff;
}
.btn-smallest:hover {
  color: #ffffff;
  background-color: #1abc9c;
}
.btn-file {
    position: relative;
    overflow: hidden;
	display: inline-block;
	margin: 0px 30px;
	padding: 10px;
	font-size: 14px;
	font-weight: normal;
	cursor: pointer;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input.coysearch, .sselect {
	width: 58%;
    line-height: 30px;
    font-size: 20px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    background: #3a3b3b;
    padding: 15px 18px;
    outline: none;
    border: none;
    border-radius: 0;
	margin-bottom: 20px;
}
.sselect {
	width: 16%;
	display: inline-block;
}
.sselect select {
	width: 100%;
    border: 0;
    padding: 0;
    background: none;
    line-height: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
	display: block;
}
/* ======= Modifiers ======= */
.__display-none {
  display: none;
}
.__display-inline {
  display: inline;
}
.__hover-color {
  color: #1abc9c;
}
.__upper {
  text-transform: uppercase;
}
.__normal {
  font-weight: 400;
}
.__relative {
  position: relative;
}
.__absolute {
  position: absolute;
}
.__margin1 {
  margin-top: 31px;
}
.__margin2 {
  margin-top: 9px;
}
.__margin3 {
  margin-top: -4px;
}
/* ======= Wrappers ======= */
.wrapper1 {
  padding: 37px 0 58px;
}
/*========================================================
                    HEADER styles
=========================================================*/
#header {
  padding: 0;
  z-index: 999;
}
#header.__absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
#header.common-header {
  background: url(../images/background1.png) repeat;
}
/* ======= Logo ======= */
h1 {
  margin-top: 12px;
  font: 700 65px/65px "Open Sans Condensed", sans-serif;
  color: #3a3b3b;
  text-transform: capitalize;
}
h1 a:hover {
  color: #3a3b3b;
}
@media (min-width: 768px) and (max-width: 979px) {
  h1 {
    font: 700 53px/53px "Open Sans Condensed", sans-serif;
  }
}
@media (max-width: 479px) {
  h1 {
    font: 700 61px/65px "Open Sans Condensed", sans-serif;
  }
}
/* ======= Main menu variables ======= */
/* ======= Sub menus common variables ======= */
/* ======= First level sub menu variables ======= */
/* ======= Second level sub menu variables ======= */
nav {
  background: #34495e;
}
@media (max-width: 767px) {
  nav {
    background: transparent;
  }
}
/* Main menu styles
========================================================*/
.sf-menu > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  text-align: center;
  margin-left: 15px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu > li {
    margin-left: 10px;
  }
}
.sf-menu > li > .sf-with-ul:after {
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
  content: "\f0d7";
  color: #ffffff;
  top: 50%;
  margin-top: -12px;
  right: 10px;
  margin-left: -3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu > li > .sf-with-ul:after {
    right: 2px;
  }
}
.sf-menu > li:hover {
  background: #1abc9c;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sf-menu > li:active {
  background: transparent;
  background: #1abc9c;
}
.sf-menu > li > a {
  padding: 28px 30px 30px;
  text-transform: uppercase;
  font: 600 16px/24px "Open Sans", sans-serif;
  display: block;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu > li > a {
    padding: 24px 15px 24px;
  }
}
.sf-menu .sfHover > a:after {
  color: #ffffff;
}
.sf-menu > li.current {
  background: #1abc9c;
}
.sf-menu > li.current > .sf-with-ul:after {
  color: #ffffff;
}
.sf-menu > li.sfHover {
  background: #1abc9c;
}
.sf-menu a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sf-menu a:hover {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/* First level sub-menu styles
========================================================*/
.sf-menu ul {
  display: none;
  width: 172px;
  font: 400 14px/14px "Open Sans", sans-serif;
  position: absolute;
  left: 50%;
  margin-left: -86px;
  background: #34495e;
  text-align: center;
  padding: 11px 0 24px 0;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu ul {
    margin-left: -97px;
  }
}
.sf-menu ul > li + li {
  margin-top: 22px;
}
.sf-menu ul li {
  position: relative;
  display: block;
}
.sf-menu ul li > .sf-with-ul:after {
  font-family: FontAwesome;
  font-size: 10px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
  content: "\f0da";
  color: #ffffff;
  bottom: -1px;
  right: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sf-menu ul li a {
  color: #ffffff;
  text-transform: none;
}
.sf-menu ul li a:hover {
  color: #1abc9c;
}
.sf-menu ul > .sfHover > a:after {
  color: #1abc9c;
}
.sf-menu ul li.sfHover > a {
  color: #1abc9c;
}
/* Second level sub-menu styles
========================================================*/
.sf-menu ul ul {
  border-left: 1px solid #c0d0c9;
  position: absolute;
  left: 172px;
  margin-left: 0;
  background: #34495e;
  z-index: 4;
  text-align: center;
  top: -47px;
}
@media only screen and (max-width: 767px) {
  .sf-menu {
    display: none;
  }
  nav {
    width: 100%;
    float: none;
  }
  .select-menu {
    border-radius: none;
    display: block;
    text-transform: capitalize;
    float: none;
    color: #FFF;
    width: 100%;
    background: #3a3b3b;
    font: 14px "Open Sans", sans-serif;
    text-align: left;
    border: 0px;
    padding: 2px 0px;
    position: relative;
	height: 48px;
  }
  .select-menu option {
    text-align: left;
    position: relative;
  }
}
/*Core variables and mixins*/
/* Stuck menu styles
========================================================*/
.isStuck {
  z-index: 999;
  position: fixed;
  background: #FFF;
  -webkit-box-shadow: 0 0 4px 0 #000000;
  box-shadow: 0 0 4px 0 #000000;
}
.isStuck h1 {
  margin-top: 4px;
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
/*========================================================
                    CONTENT styles
=========================================================*/
#content {
  background: url(../images/background1.png) repeat;
}
#content.common-content {
  padding: 12px 0 59px;
}
#content.common-content1 {
  padding: 12px 0 26px;
}
/* ======= Banner 1 ======= */
.banner1 {
  background: url(../images/page1_img1.png) no-repeat center;
  padding: 180px 0 100px;
  background-size: cover;
}
@media (min-width: 768px) and (max-width: 979px) {
  .banner1 {
    padding: 100px 0 100px;
  }
}
@media (max-width: 767px) {
  .banner1 {
    padding: 218px 0 100px;
  }
  .banner1 h6 {
    font: 300 40px/52px "Open Sans", sans-serif;
  }
}
.banner1 .btn-default {
  display: inline-block;
  margin-top: 16px;
  padding: 11px 43px 15px 46px;
}
/* ======= Post 1 Find Everything You Want to Know About Business ======= */
.post1 {
  background: #242424;
  padding-bottom: 1px;
}
.post1 .header {
  padding: 9px 0 11px;
  text-align: center;
  background: #3a3b3b;
}
.post1 .content {
	color: #FFF;
	padding: 20px;
	min-height: 200px;
	text-align: justify;
}
@media (max-width: 767px) {
  .post1 {
    margin-bottom: 50px;
  }
  .post1 img {
    width: 100%;
  }
}
.post1.post1__inset1 .list1 {
  float: left;
  margin-left: 40px;
  margin-top: 39px;
  margin-bottom: 42px;
}
.post1.post1__inset1 .list1 li {
  color: #ffffff;
}
@media (max-width: 979px) {
  .post1.post1__inset1 .list1 {
    float: none;
  }
}
@media (max-width: 767px) {
  .post1.post1__inset1 {
    margin-bottom: 0;
  }
}
@media (max-width: 479px) {
  .post1.post1__inset1 .list1 {
    margin-left: 10px;
    padding-right: 10px;
  }
}
.post1.post1__inset2 {
  padding-bottom: 0;
  margin-top: 18px;
  text-align: center;
}
.post1.post1__inset2 p {
  padding: 28px 26px 29px 26px;
  color: #ffffff;
}
/* ======= Post 2 Recent from the Blog ======= */
.post2 {
  border: 1px solid #d7d7d7;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.post2 img {
  border-right: 1px solid #d7d7d7;
  float: left;
  margin-right: 29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post2 .content {
  padding: 28px 10px 42px 20px;
}
.post2 time {
  font: 600 14px/16px "Open Sans", sans-serif;
  color: #9f9f9f;
  margin-bottom: 5px;
  display: block;
}
.post2 h4 {
  margin-bottom: 15px;
}
.post2 .btn-small {
  margin-top: 17px;
}
@media (max-width: 979px) {
  .post2 img {
    margin-right: 0;
    width: 100%;
    float: none;
    border-right: none;
  }
}
.post2.post2__inset1 .content {
  padding-top: 20px;
  padding-bottom: 31px;
}
/* ======= List 1 ======= */
.list1 li {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #3a3b3b;
  padding-left: 32px;
  position: relative;
}
.list1 li:before {
  font-family: FontAwesome;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
  color: #1abc9c;
  content: '\f055';
  display: block;
  position: absolute;
  left: 2px;
  top: 0;
}
.list1 li + li {
  margin-top: 20px;
}
/* ======= Socials 1 ======= */
@media (max-width: 767px) {
  .socials1 {
    margin-bottom: 100px;
  }
}
.socials1 li {
  float: left;
}
.socials1 li + li a {
  border-left: 1px solid #475b6d;
}
.socials1 li a {
  text-align: center;
  font-size: 0;
  line-height: 0;
  height: 90px;
  width: 99px;
  background: #34495e;
  display: block;
  color: #ffffff;
}
@media (max-width: 979px) {
  .socials1 li a {
    height: 60px;
    width: 60px;
  }
}
.socials1 li a:hover {
  background: #1abc9c;
}
.socials1 li a i {
  font-size: 30px;
  line-height: 90px;
}
@media (max-width: 979px) {
  .socials1 li a i {
    line-height: 60px;
  }
}
/* ======= List 2 ======= */
.list2 li {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 14px;
  color: #737375;
  padding-left: 16px;
  position: relative;
}
.list2 li:before {
  content: '';
  background: #1abc9c;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  position: absolute;
  left: 1px;
  top: 4px;
}
.list2 li + li {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .list2 {
    margin-bottom: 40px;
  }
}
/* ======= Post 3 About Me ======= */
.post3 img {
  margin-bottom: 23px;
  border: 1px solid #d7d7d7;
}
.post3 h4 {
  margin-bottom: 15px;
}
.post3 .btn-small {
  margin-top: 17px;
}
/* ======= Post 4 Why Choose Me ======= */
.post4 {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .post4 {
    margin-bottom: 30px;
  }
}
.post4 .label {
  font: 800 18px/21px "Open Sans", sans-serif;
  color: #ffffff;
  background: #1abc9c;
  display: inline-block;
  padding: 12px 15px 13px 15px;
  position: relative;
  margin-bottom: 12px;
}
@media (max-width: 479px) {
  .post4 .label {
    font: 800 14px/21px "Open Sans", sans-serif;
  }
}
.post4 .label:after {
  position: absolute;
  content: '';
  right: -21px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 23px 0 23px 21px;
  border-color: transparent transparent transparent #1abc9c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.post4 .label:hover {
  background: #1a8a6b;
}
.post4 .label:hover:after {
  border-color: transparent transparent transparent #1a8a6b;
}
/* ======= Blockquote 1 What People say about me ======= */
.blockquote1 {
  padding: 40px 15px 21px 32px;
  background: url(../images/background2.png) repeat;
  position: relative;
}
@media (max-width: 767px) {
  .blockquote1 {
    margin-bottom: 30px;
  }
}
.blockquote1:after {
  content: '“';
  font: 700 160px/160px "Open Sans", sans-serif;
  color: #c6c8c8;
  position: absolute;
  display: block;
  left: 28px;
  top: -1px;
  z-index: 1;
}
.blockquote1 h5 {
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}
.blockquote1 p {
  font: 300 12px/20px "Open Sans", sans-serif;
}
/* ======= Post 5 Services Overview ======= */
.post5 {
  margin-bottom: 29px;
}
.post5 img {
  border: 1px solid #d7d7d7;
}
.post5 h4 {
  margin-top: -5px;
  margin-bottom: 14px;
}
.post5 .btn-small {
  margin-top: 17px;
}
@media (max-width: 767px) {
  .post5 {
    margin-bottom: 40px;
  }
  .post5 img {
    margin-bottom: 20px;
  }
}
/* ======= Post 6 Privacy Policy ======= */
.post6 {
  margin-top: -5px;
}
.post6 h4 {
  margin-bottom: 14px;
}
.post6 p {
  margin-bottom: 20px;
}
.post6 .simple-link {
  display: inline-block;
  margin-top: 10px;
}
/* ======= Gallery  ======= */
.gallery_image a {
  display: block;
  position: relative;
  margin-bottom: 37px;
  background: #3a3b3b;
}
.gallery_image a img {
  margin-bottom: 0;
}
@media (max-width: 979px) {
  .gallery_image a img {
    width: 100%;
  }
}
.gallery_image a:hover img {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.gallery_image a:hover .gallery_icon {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery_image a img {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery_image a .gallery_icon {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 30px;
  height: 18px;
  background: url(../images/hover-icon.png) no-repeat center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -9px;
}
/* ======= Google Map  ======= */
.google-map_contacts {
  border: 1px solid #d7d7d7;
  margin-bottom: 20px;
}
.google-map_contacts iframe {
  width: 100%;
  height: 257px;
}
@media (max-width: 767px) {
  .google-map_contacts iframe {
    height: 200px;
  }
}
/* ======= Address  ======= */
.address-block {
  margin-top: -6px;
}
@media (max-width: 767px) {
  .address-block {
    margin-bottom: 50px;
  }
}
.address-block h3 {
  margin-bottom: 8px;
}
.address-block address {
  margin-bottom: 24px;
}
.address-block .our-address {
  font: 600 24px/28px "Open Sans", sans-serif;
  color: #3a3b3b;
  display: block;
  margin-bottom: 15px;
}
.address-block .numbers, .address-block .emails {
  display: inline-block;
  min-width: 77px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .address-block .numbers, .address-block .emails {
    display: block;
    min-width: 70px;
  }
}
.simple-link {
  color: #1abc9c;
}
.simple-link:hover {
  color: #1a8a6b;
}
/*========================================================
                    FOOTER styles
=========================================================*/
#footer {
  background: url(../images/background1.png) repeat;
}
#footer .privacy-block {
  padding: 18px 0;
  text-align: center;
  background: #34495e;
  color: #f6f8f8;
}
#footer .privacy-block .divider1 {
  display: inline-block;
  margin: 0 5px;
}
@media (max-width: 479px) {
  #footer .privacy-block {
    padding: 18px 29px;
    font-size: 12px;
    line-height: 16px;
  }
  #footer .privacy-block a {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #footer .privacy-block .divider1 {
    display: none;
  }
}
/*========================================================
                    Widget styles
=========================================================*/
/* UItoTop styles
========================================================*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  overflow: hidden;
  border: none;
  color: #1abc9c;
  width: 40px;
  height: 43px;
  font-size: 43px;
  line-height: 38px;
  z-index: 20;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
#toTop:hover {
  outline: none;
  color: #1a8a6b;
}
@media only screen and (max-width: 1199px) {
  #toTop {
    display: none !important;
  }
}
/*Core variables and mixins*/

/***** ToolTip ******/
.tooltipsy
{
    padding: 10px;
	color: #FFF;
	background-color: #1abc9c;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}
.tooltipsy:after
{
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-left-color: #1abc9c;
    bottom: -10px;
    left: 50%;
    z-index: -1;
}

.barChart {
	width: 100%;
	display: block;
	font-size: 9px;
	max-width: 250px;
}
.barChart li {
	display: block;
	clear: both;
	margin-bottom: 2px;
}
.barChart .label {
	width: 30%;
	text-align: right;
	display: inline-block;
}
.barChart .bar {
	width: 50%;
	height: 13px;
	background-color: #f4f4f4;
	display: inline-block;
}
.barChart .bar .fill {
	background-color: #1abc9c;
	height: 100%;
	display: block;
}
.barChart .value {
	width: 10%;
	text-align: left;
	display: inline-block;
}