/* ======= Main menu variables ======= */
/* ======= Sub menus common variables ======= */
/* ======= First level sub menu variables ======= */
/* ======= Second level sub menu variables ======= */
nav {
  background: #34495e;
}
@media (max-width: 767px) {
  nav {
    background: transparent;
  }
}
/* Main menu styles
========================================================*/
.sf-menu > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  text-align: center;
  margin-left: 20px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu > li {
    margin-left: 10px;
  }
}
.sf-menu > li > .sf-with-ul:after {
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
  content: "\f0d7";
  color: #ffffff;
  top: 50%;
  margin-top: -12px;
  right: 10px;
  margin-left: -3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu > li > .sf-with-ul:after {
    right: 2px;
  }
}
.sf-menu > li:hover {
  background: #1abc9c;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sf-menu > li:active {
  background: transparent;
  background: #1abc9c;
}
.sf-menu > li > a {
  padding: 24px 30px 26px;
  text-transform: uppercase;
  font: 600 16px/24px "Open Sans", sans-serif;
  display: block;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu > li > a {
    padding: 24px 15px 24px;
  }
}
.sf-menu .sfHover > a:after {
  color: #ffffff;
}
.sf-menu > li.current {
  background: #1abc9c;
}
.sf-menu > li.current > .sf-with-ul:after {
  color: #ffffff;
}
.sf-menu > li.sfHover {
  background: #1abc9c;
}
.sf-menu a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sf-menu a:hover {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/* First level sub-menu styles
========================================================*/
.sf-menu ul {
  display: none;
  width: 172px;
  font: 400 14px/14px "Open Sans", sans-serif;
  position: absolute;
  left: 50%;
  margin-left: -86px;
  background: #34495e;
  text-align: center;
  padding: 11px 0 24px 0;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 979px) {
  .sf-menu ul {
    margin-left: -97px;
  }
}
.sf-menu ul > li + li {
  margin-top: 22px;
}
.sf-menu ul li {
  position: relative;
  display: block;
}
.sf-menu ul li > .sf-with-ul:after {
  font-family: FontAwesome;
  font-size: 10px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
  content: "\f0da";
  color: #ffffff;
  bottom: -1px;
  right: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sf-menu ul li a {
  color: #ffffff;
  text-transform: none;
}
.sf-menu ul li a:hover {
  color: #1abc9c;
}
.sf-menu ul > .sfHover > a:after {
  color: #1abc9c;
}
.sf-menu ul li.sfHover > a {
  color: #1abc9c;
}
/* Second level sub-menu styles
========================================================*/
.sf-menu ul ul {
  border-left: 1px solid #c0d0c9;
  position: absolute;
  left: 172px;
  margin-left: 0;
  background: #34495e;
  z-index: 4;
  text-align: center;
  top: -47px;
}
@media only screen and (max-width: 767px) {
  .sf-menu {
    display: none;
  }
  nav {
    width: 100%;
    float: none;
  }
  .select-menu {
    border-radius: none;
    display: block;
    text-transform: capitalize;
    float: none;
    color: #1abc9c;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #ffffff;
    font: 22px/28px "Open Sans", sans-serif;
    text-align: left;
    border: 1px solid #c1c1c1;
    padding: 2px 0;
    position: relative;
  }
  .select-menu option {
    text-align: left;
    position: relative;
  }
}
/*Core variables and mixins*/
